.vscode/
obj/
bin/
bulid/
publish/

extra/
test/v1/

*.bin
*.nes
/.vs/CopilotSnapshots/75C8FE486158DA42AB8F7F3B193DB3EF
/.vs/NET-NES/copilot-chat/87326602/sessions
/.vs/NET-NES/CopilotIndices/17.14.734.62261
/.vs/NET-NES/DesignTimeBuild
/.vs/NET-NES/FileContentIndex
/.vs/NET-NES/v17
